.App {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  display: block;
  width: 100%;
}

.Header > div {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.Header > div > div {
  margin-right: 10px;
  height: auto;
}

.User {
  background-color: lightgray;
  
}

.Subjects {
  background-color: cadetblue;
}

.Subjects > h3 {
  width: 100px;
}

.Subjects > h3 > a {
  font-size: large;
}

.body {
  display: block;
  align-content: center;
  justify-content: center;
  max-width: 90%;
}

.body > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15%;
}

.signup > form {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup > form > div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.input_area {
  margin-bottom: 30px;
  width: 300px;
  height: 50px;
}

.signupButton {
  color: brown;
  width: 80%;
  height: 3em;
  background-color: aquamarine;
  border: none;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.postList {
  list-style-type: none;
  margin: 0;
  height: fit-content;
}

.postList > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.postList > li > div {
  display: flex;
}

.postList > li > div :nth-child(1) {
  width: 500px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
}

.postList > li > div :nth-child(2) {
  width: 100px;
  margin-right: 20px;
}

.postList > li > div :nth-child(3) {
  width: 100px;
  margin-right: 20px;
}

.postList > li > div :nth-child(4) {
  width: 50px;
}

.jumpPage {
  display: flex;
  justify-content: center;
  
}

.smallPageButton {
  width: 50px;
  height: 50px;
  border-style: solid;
  border-color: #0e756d;
  background: #61dafb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

.smallPageButton:hover {
  cursor: pointer;
}

.smallPageSelected {
  width: 50px;
  height: 50px;
  border-style: solid;
  border-color: red;
  background: #61dafb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  
}

.smallPageSelected:hover{
  cursor: pointer;
}